/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2014, 8:40:46 PM
    Author     : fredycat
*/

.margin2izq{
    margin-left:  2%;
}
.margin4izq{
    margin-left:  4%;
}
.margin2inf{
    margin-bottom: 2%;
}
.margin2sup{
    margin-top: 2%;
}


.verdeOk{
    background-color: greenyellow;
}
.letraVerdeOk{
    color: green;
}
.rojoKo{
    background-color: red;
}
.letraRojoKo{
    color: red;
}
.letraAmarillaAlerta{
    color:orange;
}
.centrado{
    text-align: center;
}
.finFloat{
    width: 100%;
    float: none;   
    clear: both;
}
.linea{
    width: 100%;
    border-top: solid black;
}

.panelHost{
    width: 42%;
    float: left;
    display: block;
    margin-left: 2%;
    margin-top: 1%;
}